

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration : none;
}


.navbar {
    position : fixed;
    width : 100%;
    font-family : 'Ubuntu', 'sans-serif';
    padding : 15px 0;
    transition : all 0.3s ease;
    z-index: 1;
}

.navbar.scrolled {
    padding : 15px 0;
    background : crimson;
    font-family : 'Ubuntu', 'sans-serif';
}

.navbar.scrolled .logo a span {
    color : black;
}

.navbar.scrolled .menu li a:hover {
    color : black;
}

.navbar .max-width {
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.max-width {
    max-width:  100%;
    padding : 0 80px;
    margin : auto;
}

.navbar .logo a {
    font-size : 35px;
    font-weight : 600;
    color : #FFF;
}

.navbar .logo span {
    color : crimson;
}

.navbar .menu li {
    list-style : none;
    display : inline-block;
}


.navbar .menu li a {
    color : #FFF;
    font-size : 18px;
    font-weight : 500;
    margin-left : 25px;
    transition : color 0.3s ease;
}

.navbar .menu li a:hover {
    color : crimson;
}


.home {
    display : flex;
    background : black;
    height : 100vh;
    color : #FFF;
    font-family : 'Ubuntu', 'sans-serif';
    min-height : 500px;
    flex-direction : column;
}

.home .home-row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.home .home-row .home-row-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.home .max-width {
    margin : auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size : 27px;
}

.home .home-content .text-2 {
    font-size : 75px;
    font-weight : 600px;
    margin-left : -3px;
}

.home .home-content .text-3 {
    font-size : 40px;
    margin : 5px 0;
}

.home .home-content .text-3 span  {
    color : crimson;
    font-weight : 500;
}

.home .home-content a {
    display : inline-block;
    background : crimson;
    color : #FFF;
    font-size: 35px;
    padding : 12px 36 px;
    margin-top : 20px;
    border-radius : 6px;
    border : 2px solid crimson;
    transition : all 0.3s ease;
    height : 55px;
}

.home .home-content a:hover {
    color : crimson;
    background : none;
    border : 2px solid crimson;
}

.home .text-4 {
    text-align : right;
}

.about, .teams, .contact{
    font-family: 'Poppins', sans-serif;
}

section {
    padding : 100px 0;
}
.about .about-content,
.teams .teams-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

.projects {
    background : black;
}
.projects .title::after{
    content: "what i've done";
    background : black;
}

.projects .title {
    color : #FFF;
}

.projects .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #FFF;
    transform: translateX(-50%);
}

.project-row {
    display: grid;
    grid-template-columns: repeat(3, 33.333333333333333333333333333333%);
    grid-gap: 1px;
    background-color: white;
}

.project-row .project {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    width: 100%;
    text-align: center;
}

.project-row .project .project-title {
    color : #FFF;
    font-family : 'Ubuntu', 'sans-serif';
    text-align: center;
    
}
.projects p{
    color : #FFF;
    font-family : 'Ubuntu', 'sans-serif';
    text-align: center;
    font-style: italic;
}


.project-row img {
    height: 180px;
    width: 300px;
    border-radius: 10px;
    margin-top: 6px;
}

.projects .demo-credentials {
    margin-bottom: 10px;
}
.projects .demo-credentials p {
    color : #FFF;
    font-family : 'Ubuntu', 'sans-serif';
    text-align: center;
}

.projects .demo-credentials .title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects .demo-credentials .title::after{
    content: "demo credentials";
    background : black;
}

.projects .project-row .fontawesome-icons {
    text-align: center;
}


.projects .project-row .fontawesome-icons a {
    color: white;
    display: inline;
}

.projects .project-row .fontawesome-icons .fa-github-square {
    font-size: 33px;
}


.projects .project-row .fontawesome-icons .fa-link {
    font-size: 28px;
}

.projects .project-row .fontawesome-icons i:hover {
    color: crimson;
    cursor: pointer;
}

#fendorbend {
    color: black;
}

.contact .title::after{
    content: "get in touch";
}

.contact .fontawesome-icons {
    display: flex;
    justify-content: space-around;
}

.contact .fontawesome-icons i {
    font-size: 33px;
}

.contact .fontawesome-icons a {
    display: inline;
    font-size: 22px;
    color: black;
}

.contact .fontawesome-icons a:hover {
    color: crimson;
    cursor: pointer;
}


#toggle-btn {
    position: absolute;
    top: 135%;
    left: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 50%;
    z-index : 100;
}
  
  .active#toggle-btn{
    background-color: crimson;
  }
  
  #shape{
    position: relative;
    top: 0;
    width: 12em;
    height: 12em;
    animation: spin 8s infinite linear;
    transform-style: preserve-3d;
  }
  
  @keyframes spin {
    from{
      transform: rotateY(0);
    }
    to{
      transform: rotateY(-360deg);
    }
  }
  
.cube .face {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: transform 2s, opacity 2s;
}

  .cube .one{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(4em);
  }
  .cube .two{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) translateZ(4em);
  }
  .cube .three{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(4em);
  }
  .cube .four{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(4em);
  }
  .cube .five{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(-90DEG) translateZ(4em);
  }
  .cube .six{
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(4em) rotate(180deg);
  }
  
  .cube .seven{
    transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(4em);
  }
  .cube .eight{
    transform: scale3d(0.8, 0.8, 0.8) translateZ(4em);
  }
  .cube .nine{
    transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(4em);
  }
  .cube .ten{
    transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(4em);
  }
  .cube .eleven{
    transform: scale3d(0.8, 0.8, 0.8) rotateY(-90DEG) translateZ(4em);
  }
  .cube .twelve{
    transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(4em) rotate(180deg);
  }
  
  /* -------------------ring------------------------- */
  
.ring .face {
    color: crimson;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: transform 2s, opacity 2s;
}

  .ring .one{
    transform: translateZ(18em);
  }
  .ring .two{
    transform: rotateY(30deg) translateZ(18em);
  }
  .ring .three{
    transform: rotateY(60deg) translateZ(18em);
  }
  .ring .four{
    transform: rotateY(90deg) translateZ(18em);
  }
  .ring .five{
    transform: rotateY(120deg) translateZ(18em);
  }
  .ring .six{
    transform: rotateY(150deg) translateZ(18em);
  }
  .ring .seven{
    transform: rotateY(180deg) translateZ(18em);
  }
  .ring .eight{
    transform: rotateY(210deg) translateZ(18em);
  }
  .ring .nine{
    transform: rotateY(-120deg) translateZ(18em);
  }
  .ring .ten{
    transform: rotateY(-90deg) translateZ(18em);
  }
  .ring .eleven{
    transform: rotateY(300deg) translateZ(18em);
  }
  .ring .twelve{
    transform: rotateY(330deg) translateZ(18em);
  }
  
  @media only screen and (max-width: 1000px) {
    *{
      font-size: 35px;
    }
  }
  @media only screen and (max-width: 500px) {
    *{
      font-size: 20px;
    }
  }